$primary-color: grey;

/////Global///////////
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 4rem;
    text-align: center;
}

////components/////
.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.header-section {
    width: 100%;
    background-color: $primary-color;
    padding-bottom: 1%;
    h1 {
        text-align: center;
        font-size: 6rem;
    }
    h3 {
        text-align: center;
    }
}
.hero-container {
    width: 100%;
    overflow: hidden;
    text-align: center;
    img {
        object-position: center;
        width: 50%;
    }
}
.ticker-container {
    display: flex;
    justify-content: space-evenly;
    background-color: $primary-color;
    padding: .5%;
    h3,
    h4 {
        text-align: center;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
}
.nav-container {
    ul {
        display: flex;
        justify-content: space-around;
        li {
            list-style: none;
            padding: .5% 0;
            a {
                color: black;
                text-decoration: none;
                font-size: 1.5rem;
            }
            a:hover {
                color: $primary-color;
                text-decoration: underline;
            }
        }
    }
}
.about-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0;
    .image-container {
        width: 25%;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .about-text {
        width: 50%;
    }
}
.platform-container {
    width: 100%;
    height: 100vh;
    .slider-container {
        position: relative;
        width: 70%;
        height: 50%;
        margin: 0 auto 3% auto;
        @media(max-width: 850px) {
            width: 90%;
        }
        .left-arrow,
        .right-arrow {
            position: absolute;
            top: 45%;
            z-index: 3;
            font-size: 1.5rem;
            color: black;
            cursor: pointer;
        }
        .left-arrow {
            left: 1%;
        }
        .right-arrow {
            right: 1%;
        }
        .slider {
            display: flex;
            justify-content: center;
            align-items: end;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 3px solid $primary-color;
            margin: 5% auto;
            width: 100%;
            height: 100%;
            p {
                background-color: $primary-color;
                padding: 1%;
                font-size: 1.25rem;
            }
        }
    }
    
    .info-container {
        margin: 0 auto;
        width: 50%;
        .tabs-outer-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: space-around;
            width: 100%;
            .block-tabs {
                display: flex;
                justify-content: space-around;
                font-size: 1.24rem;
            }
        }
    }
}