$primary-color: grey;
$secondary-color: white;

/////Global///////////
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #f5ffef;
    background-color: #1f1f1f;
}
h2 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1px;
}

////components/////
.root {
    background-color: #1f1f1f;
}
.home-container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    @media(max-width: 700px) {
        height: 89vh;
    }
}
.header-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    height: 50vh;
    padding-bottom: .5%;
    @media(max-width: 700px) {
        height: 40vh;
    }
    h1 {
        text-align: center;
        font-size: 6rem;
    }
    h3 {
        text-align: center;
    }
}
.ticker-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1%;
    margin-top: 2%;
    @media(max-width: 700px) {
        flex-direction: column;
        justify-content: space-between;
    }
    .ticker{
        @media(max-width: 700px) {
            padding: 3% 0;
        }
    }
    h3,
    h4 {
        text-align: center;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
}
.nav-container {
    position: sticky;
    top: 0px;
    background-color: $secondary-color;
    background-color: rgba(128, 128, 128, 0.555);
    z-index: 10;
    @media(max-width: 800px){
        font-size: 1rem;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
            flex: 15%;
            list-style: none;
            padding: .75% 0;
            text-align: center;
            
            @media(max-width: 1000px){
                flex: 25%
            }
            a {
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: bold;
                letter-spacing: 1px;
            }
            a:hover {
                color: $primary-color;
                text-decoration: underline;
            }
        }
    }
}
.about-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5% 0;
    .image-container {
        width: 20%;
        border-radius: 50%;
        border: 3px solid rgb(80, 80, 80);
        overflow: hidden;
        @media(max-width: 800px){
            width: 30%;
        }
        @media(max-width: 500px){
            width: 40%;
        }
        img {
            width: 100%;
        }
    }
    .about-text {
        width: 70%;;
        padding: 3%;
        border-radius: 5px;
        border: 3px solid rgb(80, 80, 80);
        @media(max-width: 850px) {
            width: 90%;
        }
    }
}
.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 5% 0;
    h2 {
        margin: 3% auto;
    }
    .slider-container {
        position: relative;
        width: 70%;
        height: 50%;
        margin: 0 auto 1% auto;
        @media(max-width: 850px) {
            width: 90%;
        }
        .left-arrow,
        .right-arrow {
            position: absolute;
            top: 50%;
            z-index: 3;
            font-size: 1.5rem;
            cursor: pointer;
            background-color: transparent;
        }
        .left-arrow {
            left: 2%;
            i{
                font-size: 4rem;
                color: #1f1f1f;
                background-color: transparent;
            }
        }
        .right-arrow {
            right: 2%;
            i{
                font-size: 4rem;
                color: #1f1f1f;
                background-color: transparent;
            }
        }
        .whole-slider {
            border: 3px solid rgb(80, 80, 80);
            border-radius: 5px;
            margin: 5% auto 0 auto;
        }
        .slider {
            background-color: #f5ffef;
            display: flex;
            justify-content: center;
            align-items: end;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 100%;
            height: 40rem;
            @media(max-width: 850px) {
                height: 30rem;
            }
            @media(max-width: 500px){
                height:20rem;
            }
        }
        p {
            background-color: #1f1f1fc2;
            padding: 1%;
            font-size: 1.25rem;
            width: 100%;
            padding: 2% 0;
            text-align: center;
            border-top: 3px solid rgb(80, 80, 80);
            a {
                text-decoration: none;
                background-color: transparent;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    width: 100%;
    h2 {
        margin: 3% auto;
    }
    p {
        padding: 1.5% 0 .5% 0;
    }
    .map-container {
        width: 70%;
        border: 3px solid rgb(80, 80, 80);
        border-radius: 5px;
        margin:5% auto;
        background-color: rgba(128, 128, 128, 0.555);
        @media(max-width: 850px) {
            width: 90%;
        }
        .example-maps {
        width: 100%;
        height: 40rem;
        }
        p {
            width: 100%;
            text-align: center;
            padding: 2% 0;
        }
    }
    
}

.platform-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
    h2 {
        margin: 3% auto;
    }
    .info-container {
        margin:5% auto;
        width: 70%;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items:center;
        background-color: rgba(128, 128, 128, 0.555);
        border: 3px solid rgb(80, 80, 80);
        border-radius: 5px;
        @media(max-width: 850px) {
            width: 90%;
        }
        .block-tabs {
            display: flex;
            justify-content: space-around;
            width: 100%;
            font-size: 1.24rem;
            padding: 1%;
            .tab,
            .active-tab {
                text-align: center;
                width: 25%;
                cursor: pointer;
            }
            .active-tab {
                border-bottom: 2px solid rgb(80, 80, 80);
            }
        }
        .content-tabs {
            display: flex;
            justify-content: center;
            padding: 3%;
            height: 100%;
            width: 100%;
            p {
                width: 90%;
            }
        }
    }
}

.Documentation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5% 0;
    h2 {
        margin: 3% auto;
    }
    p {
        margin-bottom: 3%;
       text-align: center;
    }
    .grey-box{
        padding: 3%;
        border: 3px solid rgb(80, 80, 80);
        // background-color: rgba(128, 128, 128, 0.555);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
            @media(max-width: 850px) {
                width: 90%;
            }
    }
    .video {
        min-width: 70%;
        height: 25rem;
    }
    p {
        width: 70%;
        padding: 5% 0 1% 0;
    }
    .button-container{
        width: 40%;
        display: flex;
        justify-content: space-around;
        button {
            padding: 2%;
            border: 2px solid rgb(80, 80, 80);
            border-radius: 5px;
        }
        button:hover {
            background-color: rgb(80, 80, 80);
            color: aliceblue;
            cursor: pointer;
        }
    }
}